@charset "utf-8";
/* CSS Document */
	
*{
	margin:0px;
	padding:0px;
}
body{
	width:1200px;
	margin:0px auto;
	background-color:#CCC;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header{
	width:1200px;
}
div#logo{
	float:left;
}
div#dn a{
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#000;
}
nav{
	clear:both;
	background-color:#666;
	height:50px;
}

nav div ul{
	float:left;
	text-align:center;
}

nav ul li{
	position:relative;
	float:left;
	padding-right: 10px;
	list-style: none;
	display:table-cell;
	width:150px;
}
nav li ul{
	position:absolute;
	background:#666;
	display:none;
	width: 150px;
}
nav ul li a{
	padding-top: 15px;
	color:#CCC;
	font-size:20px;
	font-family:Arial;
	text-decoration:none;
	font-weight:bold;
	height: 34px;
	display:block
}
nav ul li a:hover{
	background-color:#333;
}
nav ul li:hover ul{
	display:block;
}
nav div#subnav div{
	float:right;
	background-color:white;
	padding-left:10px;
	margin-top:5px;
	margin-right:5px;
	height:34px;
	width:380px;
	border-radius:5px;
	border:0.5px solid #CED2DD;
}
nav div#subnav>div input[type=text]{
	font-size:20px;
	border:none;
	width:300px;
	padding-top:7px;
}
#dk{
	border-left:#003 solid 1px;
	padding-left:6px;
}
	
nav div#subnav>div input[type=submit]{
	float:right;
	height:95%;
	width:80px;
	background:#F7F2E7;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border-left:0.5 solid #CED2DD;
	font-size:14px;
}
<!--con tro chuyen sang hinh ban tay-->
nav div#subnav>div input[type=submit]:hover{
	cursor:pointer;
}
aside#left img#a2{width: 250px;}
article{
	display:table-row;
}

aside#left, aside#right, section{
	display:table-cell;
	vertical-align:top;
	padding-top:10px;
}
section{
	width:900px;
	height:auto;
	padding:0px 0px;
	vertical-align:top;
	padding-left:0px;
}
aside#right{
	width:200px;
	float:right;
}
aside#left div{
	border:1px solid #333;
	border-radius:4px;
	margin-bottom:15px;
}
aside#left{
	width:250px;
}
aside#left div p{
	background-color:#333;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	text-align:center;
	font-size:20px;
	font-weight:bold;
	color:white;
	height:25px;
	padding-top:5px;
}
aside#left div ul{
	padding-left:10px;
	font-size:14px;
	font-family:Arial;
}
aside#left div ul li{
	height:25px;
	list-style:none;
	list-style-image:url(../Images/icon_list.jpg);
	padding-left:5px;
	padding-top: 10px;
}
aside#left div ul li a{
	color:#333;
	text-decoration:none;
	font-size: 15px;
	padding-left: 5px;
}
aside#left div ul li a:hover{
	color:#ff0000;
}
aside#right div#thongbao{
	border:1px solid #333;
	border-radius:4px;
	margin-top:30px;
}
.xanh{
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	color:white;
	height:25px;
	padding-top:5px;
}
aside#right div#thongbao p{
	text-align:center;
	padding-top: 10px;
	padding-bottom:10px;
}
aside#right div#thongbao p{
	clear:both;
}
#thongbao marquee p{
	color:#F63;
}
aside#right div#thongbao img{
	width:40px;
	height:50p;
	padding-left:5px;
	float:left;
	margin-bottom:5px;
}
aside#right div#thongbao a{
	text-decoration:none;
	font-size:9px;
	font-family:Arial;
	color:#456c26;
	height:70px;
}
aside#right div#thongbao a:hover{
	font-weight:bold;
}
.nutdangnhap{
	height:30px;
	margin: 10px 60px;
}
.nutdangnhap:hover{
	transform:scale(1.1);
	background-color:#6CF;
}


.xanh{
	background-color:#333;
	color:white;
	font-size: 20px;
}
#dangnhap{
	border: 1px solid #666;
	border-radius: 5px;
}
.nendangnhap{
	padding-top: 5px;
	height:25px;
	background:#333;
	color: #FFF;
	font-weight:bold;
}

section p{

	background:#666;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	color:#CCC;
	height:27px;
	padding-top:4px;
}
.ts{
	width:235px;
	height:320px;
	background-color:#999;
	margin:3px;
	border-radius:10px;
	border:1px dashed #333;
	text-align:center;
	vertical-align:middle;
	float:left;
	padding-left:0px;
	border-top:outset;
}
.ten{
	margin-top:0px;
	vertical-align:top;
	height:40px;
}
.ten a{
	font-weight:bold;
	color:#CCC;
	font-size:14px;
}
.ten a:hover{
	font-style:italic;
}
.hinhsach{
	padding-top: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width:170px;
	height:200px;
	transition:all 0.5s ease;
}
.hinhsach:hover{
	transform:scale(1.1);
}
.donggia{
	margin-top:10px;
	font-size:15px;
}
.gia{
	color:red;
	font-weight:bold;
}
.sanpham{
	border-top:none;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}
.nutchonmua{
	margin:1px 0px;
	height:30px;
}
.nutchonmua:hover{
	transform:scale(1.1);
}
footer{
	background-color:#999;
	height:100px;
	padding-top:30px;
}
footer>p{
	text-align:center;
	font-size:17px;
}

.dangky{
	width:auto;
	padding-left:23px;
	padding-right:23px;
	padding-top:10px;
	
}
fieldset legend{
	text-align:center;
}
fieldset#tren{
	width: 500px;
	height:300px;
}
fieldset#duoi{
	width:500px;
	height:200px;
}

.dangky form{
	padding:20px 100px ;
	border:1px dashed #333;
}
.dangky table input[type=submid]{
	text-align:center;
	vertical-align:midde;
}
.nutdk{
	padding-top:30px;
	text-align:center;
	padding-bottom:30px;
}
.nutdk input[type=submit]{
	size:30px;
	font-size:17px;
	background-color:#206ab5;
	color:white;
}
.nutdk input[type=submit]:hover{
	transform:scale(1.1);
	color:red;
}
footer p { text-align:center;}
div img#a3{
margin-left: 150px;}
div#gioithieu{
	width:700px;
}
div#gioithieu div{margin-left: 45px;
line-height: 30px;}
div#gioithieu p{text-align:center;
margin-left:50px;
margin-top:10px;}
aside#right a:hover{
color:red;}
aside#right>form>div>p{text-align:center;
padding-bottom:10px;}
.text{ height: 30px;
padding-left:20px;}
#lienhe p{ margin-top:10px;}
#lienhe{text-align:center;}
aside#left p{ padding-bottom: 5px;}
.nendangnhap{ height:25px;
padding-top:10px;}
#sdt li{color:red;
font-size: 20px;}

#khuvuc{ font-size:20px; padding-left:20px; padding-right:20px; margin-top:10px;}
#khuvuc div ul{ padding-top:15px;}
#khuvuc div li{ list-style: none;}
.xam{background-color:#999;}
.den{ background-color:#666;}

#thongketc{border: 1px solid #000; padding-bottom:10px; margin-top: 10px;}
#thongketc p{}





